@plugin "daisyui";
@import "tailwindcss";

.product-cart {
  width: 100%;
  max-width: fit-content;
}

.login {
  width: 50%;
  height: 100%;
}

.register-btn:hover {
  box-shadow: 0px 0px 30px rgb(78, 19, 133);
}

@media screen and (max-width: 768px) {
  /* CSS for mobile */
  .login {
    width: 100%;
    border-radius: 0 0 60px 60px;
  }
  .register-btn {
    margin-bottom: 20px;
  }
  
}
